<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>汇道 | 功能</title>
		<link rel="stylesheet" href="../css/lib/bootstrap.min.css">
		<link rel="stylesheet" href="../css/common/header.css">
		<link rel="stylesheet" href="../css/common/footer.css">
		<link rel="stylesheet" href="../css/function.css">
	</head>

	<body style="font-family: 'Helvetica Neue','Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft Yahei',sans-serif;
 font-size: 16px;">
		<header class="header">
			<nav class="navbar navbar-default navbar-fixed-top my-navbar">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#expand">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">
							<img class="logo" alt="汇道" src="../img/common/logo.png" />
						</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="expand">
						<ul class="nav navbar-nav">
							<li class="nav-item-li"><a href="home.html" class="nav-item">首页</a>
							</li>
							<li class="my-active"><a href="#" class="nav-item">功能</a>
							</li>
							<li class="nav-item-li"><a href="document.html" class="nav-item">文档</a>
							</li>
							<li class="nav-item-li"><a href="help.html" class="nav-item">帮助</a>
							</li>
							<li class="nav-item-li"><a href="aboutUs.html" class="nav-item">关于我们</a>
							</li>
						</ul>
						<form class="navbar-form navbar-right" role="search">
							<a onclick="javascript:window.open('http://manage.huidao168.com/octopus_manage/channel');">
								<button type="button" id="login" class="btn btn-primary btn-login">登录</button>
							</a>
							<a onclick="javascript:window.open('http://manage.huidao168.com/octopus_manage/channel/register/');">
								<button type="button" id="reg" class="btn btn-primary btn-reg">注册</button>
							</a>
						</form>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
			</nav>
		</header>

		<div class="function-main">
			<div class="jumbotron function-a">
				<div class="a-des">
					<h2>

						开放、强大的产品功能

					</h2>
					<p>
						完整的渠道体系和优质的服务资源通常能够让移动互联网业务的开展事半功倍。
					</p>
					<p>汇道可以让你把自己拥有的资源接入进来，和领域内的伙伴进行资源互补，充分发挥各自长处，共同分享移动互联网的丰硕成果。</p>
				</div>
			</div>

			<div class="function-b container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 b-des">
						<div>
							<h2 class="small-title-one">定制服务内容</h2>
							<p style="text-indent:2em;">汇道提供了功能强大的服务内容定制平台，涵盖了满足多个行业需求的功能组件。配合简洁的操作，人性化的体验，能够帮你快速搭建自己的微网站、微商城，开启移动服务之旅。</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 b-img">
						<img src="../img/function/function (1).png" />
					</div>
				</div>
			</div>

			<div class="function-c container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 c-img">
						<img src="../img/function/function (2).png" />
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 c-des">
						<div>
							<h2 class="small-title-two">接入现有资源</h2>
							<p style="text-indent:2em;">如果你已有如微网站、微商城等丰富的服务资源，在申请成为渠道商后，你就可以轻松地将自己的服务接入到平台上来，快速完成内容定制。</p>
						</div>
					</div>
				</div>
			</div>

			<div class="function-d container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 d-des">
						<div>
							<h2 class="small-title-one">移动应用SDK</h2>
							<p style="text-indent:2em;">提供了完整的 SDK 工具，只需将 SDK 接入到自有的移动应用，你就可以即刻使用已经在平台上定制好的服务，丰富移动应用内容。</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 d-img">
						<img src="../img/function/function (3).png" />
					</div>
				</div>
			</div>

			<div class="function-e container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 e-img">
						<img src="../img/function/function (4).png" />
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 e-des">
						<div>
							<h2 class="small-title-two">开放 API </h2>
							<p style="text-indent:2em;">提供了开放 API，通过操作接口，你就可以统一在自己的后台上对 汇道上的数据进行添加、删除、修改和查询。</p>
						</div>
					</div>
				</div>
			</div>

			<div class="function-f container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 f-des">
						<div>
							<h2 class="small-title-one">自定义界面</h2>
							<p style="text-indent:2em;">汇道上的服务形式是可以自定义的，你可以通过第三方扩展的方式，对服务界面和形式进行修改，像原生服务一样匹配你的 APP 气质。留意下接入规范，这一切其实都很简单。</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 f-img">
						<img src="../img/function/function (5).png" />
					</div>
				</div>
			</div>

			<div class="function-g container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 g-img">
						<img src="../img/function/function (6).png" />
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 g-des">
						<div>
							<h2 class="small-title-two">服务管理</h2>
							<p style="text-indent:2em;">汇道提供了强大的服务管理平台，你不仅可以方便的创建和管理服务，还可以发展子服务商。子服务商越多，你可以支配的服务就越多。</p>
						</div>
					</div>
				</div>
			</div>

			<div class="function-h text-center">
				<h2>汇道致力于为每一个渴望发展移动服务的用户提供贴心的服务，为不同的发展需求匹配相应的策略。</h2>
				<a onclick="javascript:window.open('http://manage.huidao168.com/octopus_manage/channel/register/');">
					<button type="button" class="btn btn-primary btn-usenow">立即使用</button>
				</a>
			</div>

		</div>

		<footer id="footer" class="footer container text-center">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<span>© 1995-2014 WONDERS INFORMATION CO.LTD.ALL RIGHT RESERVED.</span>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<span>Written by JinXM.</span>
				</div>
			</div>
		</footer>

		<script src="../js/lib/jquery-1.11.0.min.js"></script>
		<script src="../js/lib/bootstrap.min.js"></script>
		<script src="../js/common/footer.js"></script>
	</body>

</html>